.login-box {
	width: 400px;
	padding: 20px;
	margin: 10vh auto 10vh;
	background-color: rgb(252, 252, 252);
	box-shadow: 1px 1px 1px 1px rgb(211, 211, 211);
	border-radius: 3px;
	text-align: center;
}

.login-box button {
	width: 100%;
}